.box {
    width: 600px;
    margin: auto;
    background-color:cornflowerblue;
}

.button-wide {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    font-size: 50px;
    border-radius: 20px;
}

.button-narrow {
    width: 40%;
    margin-left: 30%;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
}

input {
    width: 30%;
    height: 25px;
    margin-left: 35%;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}